<% content_for :body do %>
    <h1>Listing articles</h1>

    <% @articles.each do |article| %>
        <div class="media">
          <img class="d-flex align-self-start mr-3" src="https://files.foodietrip.com/bundles/frontpage/img/im34.jpg" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0"><%= article.title %></h5>
            <p><%= article.text %></p>
            <p><%= link_to 'Show', article_path(article) %></p>
            <p><%= link_to 'Destroy', article_path(article),
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %></p>
          </div>
        </div>
    <% end %>
    <%= paginate @articles, window: 3 %>
    <p>
      <%= link_to 'Create new Article', new_article_path %>
    </p>
<% end %>