<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <nav class="navbar navbar-expand navbar-dark bg-dark rounded">
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to root_path, :class => 'nav-link' do %>
                  <span class="sr-only">(current)</span>Home
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "Articles", articles_path, :class => 'nav-link'%>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col"></div>
        <div class="col-md-auto">
          <%= yield(:body) %>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </body>
</html>
